Story-telling

Imports:

In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import Cleaning_functions
import Story_functions

Import csv

In [13]:
data = pd.read_csv('Input/bankdata.csv',encoding = 'latin-1')
years_table = pd.read_csv('Input/years_table.csv',encoding = 'latin-1')
purpose_table = pd.read_csv('Input/purpose_table.csv',encoding = 'latin-1')
Incomes_table = pd.read_csv('Input/Incomes_table.csv',encoding = 'latin-1')
display(data)

,Loan ID,Customer ID,Current Loan Amount($),Term,Annual Income($),Years in current job,Home Ownership,Purpose,Monthly Debt($),Current Credit Balance($),Maximum Open Credit($),Bankruptcies,Loan/Income Ratio,Monthly_debt/Income ratio,Credit/Income Ratio,Credit lef($)
0,f738779f,ded0b3c3,60000.0,Short Term,210000.0,10+ years,Mortgage,Debt Consolidation,4200.0,60000.0,110000.0,0.0,0.29,0.24,0.52,50000.0
1,6dcc0947,1630e6e3,30000.0,Short Term,190000.0,10+ years,Mortgage,Debt Consolidation,3700.0,70000.0,90000.0,0.0,0.16,0.23,0.47,20000.0
2,f7744d01,2c60938b,20000.0,Short Term,90000.0,2 years,Rent,Debt Consolidation,800.0,0.0,40000.0,0.0,0.22,0.11,0.44,40000.0
3,83721ffb,12116614,20000.0,Short Term,80000.0,10+ years,Rent,Debt Consolidation,1700.0,20000.0,50000.0,1.0,0.25,0.26,0.62,30000.0
4,08f3789f,39888105,30000.0,Short Term,180000.0,10+ years,Mortgage,Debt Consolidation,3900.0,40000.0,50000.0,0.0,0.17,0.26,0.28,10000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6881,4d0d0e65,add5361a,40000.0,Long Term,220000.0,6 years,Mortgage,Debt Consolidation,1700.0,40000.0,50000.0,0.0,0.18,0.09,0.23,10000.0
6882,6f0b1e02,879d5bf4,20000.0,Short Term,120000.0,1 year,Rent,Debt Consolidation,2000.0,30000.0,40000.0,0.0,0.17,0.20,0.33,10000.0
6883,a2701102,6dc5fa63,40000.0,Short Term,150000.0,7 years,Mortgage,Debt Consolidation,1900.0,40000.0,70000.0,0.0,0.27,0.15,0.47,30000.0
6884,c4ab66f9,8ee2002b,20000.0,Short Term,150000.0,6 years,Rent,Debt Consolidation,500.0,10000.0,20000.0,0.0,0.13,0.04,0.13,10000.0
6885,bbd3a392,6c306306,10000.0,Short Term,80000.0,4 years,Mortgage,Debt Consolidation,1200.0,10000.0,30000.0,0.0,0.12,0.18,0.38,20000.0

In [18]:
display(Incomes_table.head(20))

,Current Loan Amount($),Loan/Income Ratio,Monthly_debt/Income ratio,Credit/Income Ratio,N_incomes,Weight in portfolio(%)
0,2500.00,0.25,0.18,1.00,4,0.06
1,5882.35,0.29,0.17,1.15,17,0.25
2,10333.33,0.34,0.19,0.93,60,0.87
3,12035.40,0.30,0.20,0.73,113,1.64
4,14468.09,0.29,0.19,0.63,235,3.41
5,16666.67,0.28,0.19,0.60,342,4.97
6,20492.17,0.29,0.19,0.59,447,6.49
7,22880.00,0.29,0.19,0.55,500,7.26
8,25817.22,0.28,0.19,0.51,569,8.26
9,27250.44,0.27,0.19,0.53,571,8.29
10,30126.32,0.27,0.18,0.48,475,6.90
11,30875.27,0.26,0.18,0.50,457,6.64
12,32500.00,0.25,0.17,0.54,424,6.16
13,33372.78,0.24,0.17,0.45,338,4.91
14,37988.34,0.25,0.17,0.49,343,4.98
15,37509.29,0.23,0.17,0.47,269,3.91
16,38136.88,0.23,0.16,0.50,263,3.82
17,40765.31,0.23,0.16,0.44,196,2.85
18,42293.58,0.22,0.15,0.44,218,3.17
19,38250.00,0.19,0.15,0.38,120,1.74