Story-telling

Imports:

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import Cleaning_functions
import Story_functions

Import csv

In [11]:


data = pd.read_csv('Input/bankdata.csv',encoding = 'latin-1')
display(data)

,Loan ID,Customer ID,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,f738779f-c726-40dc-92cf-689d73af533d,ded0b3c3-6bf4-4091-8726-47039f2c1b90,611314.0,Short Term,747.0,2074116.0,10+ years,Home Mortgage,Debt Consolidation,42000.83,21.8,NaN,9.0,0.0,621908.0,1058970.0,0.0,0.0
1,6dcc0947-164d-476c-a1de-3ae7283dde0a,1630e6e3-34e3-461a-8fda-09297d3140c8,266662.0,Short Term,734.0,1919190.0,10+ years,Home Mortgage,Debt Consolidation,36624.40,19.4,NaN,11.0,0.0,679573.0,904442.0,0.0,0.0
2,f7744d01-894b-49c3-8777-fc6431a2cff1,2c60938b-ad2b-4702-804d-eeca43949c52,153494.0,Short Term,709.0,871112.0,2 years,Rent,Debt Consolidation,8391.73,12.5,10.0,10.0,0.0,38532.0,388036.0,0.0,0.0
3,83721ffb-b99a-4a0f-aea5-ef472a138b41,12116614-2f3c-4d16-ad34-d92883718806,176242.0,Short Term,727.0,780083.0,10+ years,Rent,Debt Consolidation,16771.87,16.5,27.0,16.0,1.0,156940.0,531322.0,1.0,0.0
4,08f3789f-5714-4b10-929d-e1527ab5e5a3,39888105-fd5f-4023-860a-30a3e6f5ccb7,321992.0,Short Term,744.0,1761148.0,10+ years,Home Mortgage,Debt Consolidation,39478.77,26.0,44.0,14.0,0.0,359765.0,468072.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10348,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10349,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10350,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10351,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10352,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,Loan ID,Customer ID,Current Loan Amount($),Term,Annual Income($),Years in current job,Home Ownership,Purpose,Monthly Debt($),Current Credit Balance($),Maximum Open Credit($),Bankruptcies,Loan/Income Ratio,Monthly_debt/Income ratio,Credit/Income Ratio,Credit lef($)
0,f738779f,ded0b3c3,60000.0,Short Term,210000.0,10+ years,Mortgage,Debt Consolidation,4200.0,60000.0,110000.0,0.0,0.29,0.24,0.52,50000.0
1,6dcc0947,1630e6e3,30000.0,Short Term,190000.0,10+ years,Mortgage,Debt Consolidation,3700.0,70000.0,90000.0,0.0,0.16,0.23,0.47,20000.0
2,f7744d01,2c60938b,20000.0,Short Term,90000.0,2 years,Rent,Debt Consolidation,800.0,0.0,40000.0,0.0,0.22,0.11,0.44,40000.0
3,83721ffb,12116614,20000.0,Short Term,80000.0,10+ years,Rent,Debt Consolidation,1700.0,20000.0,50000.0,1.0,0.25,0.26,0.62,30000.0
4,08f3789f,39888105,30000.0,Short Term,180000.0,10+ years,Mortgage,Debt Consolidation,3900.0,40000.0,50000.0,0.0,0.17,0.26,0.28,10000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6881,4d0d0e65,add5361a,40000.0,Long Term,220000.0,6 years,Mortgage,Debt Consolidation,1700.0,40000.0,50000.0,0.0,0.18,0.09,0.23,10000.0
6882,6f0b1e02,879d5bf4,20000.0,Short Term,120000.0,1 year,Rent,Debt Consolidation,2000.0,30000.0,40000.0,0.0,0.17,0.20,0.33,10000.0
6883,a2701102,6dc5fa63,40000.0,Short Term,150000.0,7 years,Mortgage,Debt Consolidation,1900.0,40000.0,70000.0,0.0,0.27,0.15,0.47,30000.0
6884,c4ab66f9,8ee2002b,20000.0,Short Term,150000.0,6 years,Rent,Debt Consolidation,500.0,10000.0,20000.0,0.0,0.13,0.04,0.13,10000.0
6885,bbd3a392,6c306306,10000.0,Short Term,80000.0,4 years,Mortgage,Debt Consolidation,1200.0,10000.0,30000.0,0.0,0.12,0.18,0.38,20000.0

In [10]:
#Let's do some targetting for our new modular loan
purpose_table = bankdata[['Purpose','Current Loan Amount($)','Monthly Debt($)']].groupby(['Purpose']).mean()
from Cleaning_functions import toint
purpose_table = purpose_table[['Current Loan Amount($)', 'Monthly Debt($)']].apply(toint())
purpose_table['N_loans'] = bankdata['Purpose'].value_counts()
purpose_table['Weight in portfolio(%)'] = (purpose_table['N_loans']/(purpose_table['N_loans'].sum()))*100
display(purpose_table)
#with this purpose table we can clearly see that the vast majority of loans our clients take are for the 
#consolidation of previous debt with a 78%, meaning that we have a hughe market scope for more leissure type
#loans.

KeyError: "['Monthly Debt($)', 'Current Loan Amount($)'] not in index"